*.user
*.vspscc
*.vssscc
_bin/
obj
bin
Bin
TestResults
packages
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.DotSettings.user
*.suo
*.cache
*~
*.swp
.DS_Store
*.pidb
*.userprefs
*.db
*.testsettings
*.sap
PerformanceLogs
